<div class="employee-item">
  <p class="employee-item__">Name: {{employee.firstName}}</p>
  <p class="employee-item__">Last name: {{employee.lastName}}</p>
  <p class="employee-item__">Position: {{employee.position}}</p>
  <p class="employee-item__">Team: {{employee.team}}</p>
  <p class="employee-item__">Start date: {{employee.startDate}}</p>
  <p class="employee-item__">Birthday: {{employee.birthDay}}</p>
</div>