<div class="layout-row layout-xs-column">
  {{#paper-card as |card|}}
    {{card.image src="https://cdn.dribbble.com/users/223408/screenshots/2134810/me-dribbble-size-001-001_1x.png" alt="Washed Out" title="Washed Out"}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}{{employee.firstName}} {{employee.lastName}}{{/text.headline}}
      {{/title.text}}
    {{/card.title}}
    {{#card.content}}
      <p class="employee-item__">Position: {{employee.position}}</p>
      <p class="employee-item__">Team: {{employee.team}}</p>
      <p class="employee-item__">Start date: {{employee.startDate}}</p>
      <p class="employee-item__">Birthday: {{employee.birthDay}}</p>
    {{/card.content}}
    {{#card.actions class="layout-column"}}
      {{#paper-button}}Action 1{{/paper-button}}
      {{#paper-button}}Action 2{{/paper-button}}
    {{/card.actions}}
  {{/paper-card}}
</div>